<%- include("partials/header") %>

<div class="container mt-5">
    <h2 class="mb-4 text-center">Donation List</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Donor ID</th>
                <th>Item Donated</th>
                <th>Quantity</th>
                <th>Date</th>
                <th>Notes</th>
            </tr>
        </thead>

    <tbody>
        <% donations.forEach(donation =>{ %>
            <tr>
                <td><%= donation.donor ? donation.donor.name:"N/A" %></td>
                <td><%= donation.donor ? donation.donor.email:"N/A" %></td>
                <td><%= donation.itemDonated%></td>
                <td><%= donation.quantity %></td>
                <td><%= donation.date.toDateString() %></td>
                <td><%= donation.notes %></td>

                <td><a href="/donation/<%=donation._id %>/edit" class="btn btn-sm " style="background-color: #43aa8b; color:white">Edit</a></td>
                    <td><form method="POST" action="/donation/<%= donation._id %>?_method=DELETE"  onsubmit="return confirm('Are you aure you want to delete this item?');">
                        <button type="submit" class="btn btn-ngo-delete btn-sm btn-danger">Delete</button></form>
                    </td>
                
            </tr> 
       <% }) %>
    </tbody>
    </table>
</div>

<%- include("partials/footer") %>