<%- include("partials/header") %>

<div class="container mt-5">
    <h2 class="mb-4 text-center">Volunteer List</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Team</th>
                <th>Skills</th>
                <th>Past Events</th>
            </tr>
        </thead>

    <tbody>
        <% volunteers.forEach(vol =>{ %>
            <tr>
                <td><%= vol.name %></td>
                <td><%= vol.email%></td>
                <td><%= vol.phone %></td>
                <td><%= vol.location %></td>
                <td><%= vol.teamName%></td>
                <td><%= vol.available ? "Yes": "No" %></td>
                <td><%= vol.pastEvents %></td>
                
                <td><a href="/volunteer/<%=vol._id %>/edit" class="btn btn-sm " style="background-color: #43aa8b; color:white">Edit</a></td>
                    <td><form method="POST" action="/volunteer/<%= vol._id %>?_method=DELETE"  onsubmit="return confirm('Are you aure you want to delete this item?');">
                        <button type="submit" class="btn btn-ngo-delete btn-sm btn-danger">Delete</button></form>
                    </td>
                
            </tr> 
       <% }) %>
    </tbody>
    </table>
</div>

<%- include("partials/footer") %>